<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a recent graduate from California State Monterey Bay with a BA in Computer Science. I studied
          computer science with a concentration in software enginering. I have gained experience picking up
          and effectively using new technologies. As a new grad I am looking forward to future challenges and 
          excited to get started in the industy.

        </p>
        <p>
          I love solving problems.
          While in school I was an active member of the programming club. The club hosted multiple coding 
          competitions each week. Along with the club, I competed in the 2018 ICPC Pacific Northwest Regional 
          programming contest. I'm looking for a role in which I can apply my problem solving skills and continue 
          to grow as a programmer.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Graduated from CSU Monterey Bay with a BA in Computer Science with a concentration in Software Engineering.
    			</li>
          <li>
            Competed and placed 13th in the 2018 ICPC Pacific Northwest Regional programming contest on my site.
          <li>
            Helped streamline the interview process for Capital Insurance Group by creating a fun and challenging 
            pre screening process for applicants.
    			<li>
            Achieved a GPA of 3.5+ as well as the Dean's List for a majority of semesters at CSU Monterey Bay
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
