<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Problem Solving</b>. I love to solve challenging and unique problems, and have sunk lots of hours into sites like Kattis, HackerRank, and LeetCode.
			  </li>
			  <li>
				  <b>Voluntary Service</b>. I am a big believer in giving back to the community. I have spent many spring breaks building homes in Tijuana, Mexico. 
					I also went on a three week trip to Kenya with a local team to provide medication and services to over 5,000 people. I was also active in the 
					upkeep of a local community garden which provided services in the Monterey area.
			  </li>
			  <li>
				  <b></b>. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Currently working on learning how to use React by creating a Instagram clone.
    		</li>
  			<li>
          
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           
  			</li>
  			<li>
  			  
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
